/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background: url(./assets/bg-header-mobile.png) no-repeat;
    background-position: top fixed;
    background-size: 100%;
    font-family: 'Bai Jamjuree', sans-serif;

}

/* header */


.logo-clipboard {

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-clipboard img {

    width: 125px;
    height: 125px;
    margin-top: 123px;
}

.title-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-header1 {
    font-weight: 600;
    font-size: 32px;
    margin-top: 64px;
    color: #4C545C;
    text-align: center;

    width: 311px;
    height: 80px;

}


.text-header {
    font-weight: 400;
    font-size: 16px;
    color: #9EABB2;
    line-height: 1.5;
    text-align: center;
    margin: 16px;

    width: 311px;
    height: 78px;

}

.button-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.button-header1 {


    font-size: 18px;
    font-weight: 600;
    color: white;
    background: #26BBA4;
    border: 1px solid #11a58f;
    border-radius: 28px;
    box-shadow: 0px 10px 20px #89e5c649;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 15px 80px;
    cursor: pointer;

}

.button-header2 {

    font-size: 18px;
    font-weight: 600;
    color: white;
    background: #6174FF;
    border: 1px solid #4659eb;
    border-radius: 28px;
    box-shadow: 0px 10px 20px #6536bb3d;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 15px 80px;
    cursor: pointer;

}

/* main */

/* First Container */

.container-1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

.title-1 {

    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: #4C545C;


    width: 311px;
    height: 70px;
}

.text-1 {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #9EABB2;
    text-align: center;


    margin-top: 16px;
    width: 311px;
    height: 130px;

}

/* responsive */

.responsive {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.computer img {


    margin-top: 65px;
    width: 312px;
    height: 238px;

}

.title-c1 {

    font-weight: 600;
    font-size: 24px;
    color: #4C545C;
    text-align: center;

    margin-top: 56px;


}

.text-c1 {

    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #9EABB2;
    margin-top: 10px;
    width: 311px;
    height: 130px;

}

.title-c2 {

    font-weight: 600;
    font-size: 24px;
    color: #4C545C;
    text-align: center;


}

.text-c2 {

    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #9EABB2;
    margin-top: 10px;

    width: 311px;
    height: 130px;
}

.title-c3 {

    font-weight: 600;
    font-size: 24px;
    color: #4C545C;
    text-align: center;

}

.text-c3 {

    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #9EABB2;
    margin-top: 10px;

    width: 311px;
    height: 130px;
}

/* Second Container */

.container-2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.title-c4 {

    font-weight: 600;
    font-size: 28px;
    color: #4C545C;
    text-align: center;

    width: 311px;
    height: 70px;
}

.text-c4 {

    font-weight: 400;
    font-size: 16px;
    color: #9EABB2;
    line-height: 1.5;
    margin-top: 16px;
    text-align: center;

    width: 311px;
    height: 130px;

}

.devices img {
    width: 311px;
    height: 182px;
    margin-top: 64px;
}

/* Third Content */

.container-3 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 130px;
}

.title-c5 {

    font-weight: 600;
    font-size: 28px;
    color: #4C545C;
    text-align: center;

    width: 311px;
    height: 70px;

}

.text-c5 {

    font-weight: 400;
    font-size: 16px;
    color: #9EABB2;
    line-height: 1.5;
    margin-top: 16px;
    text-align: center;

    width: 311px;
    height: 130px;
}

.responsive-icons {
    margin-top: 56px;
}

.blacklist,
.snippets,
.preview {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.blacklist img {

    width: 36px;
    height: 34px;
    display: flex;
    align-self: center;
}

.snippets img,
.preview img {


    display: flex;
    align-self: center;
}

.title-blacklist,
.title-snippets,
.title-preview {

    font-weight: 600;
    font-size: 24px;
    color: #4C545C;
    text-align: center;
    margin-top: 40px;


}

.text-blacklist,
.text-snippets,
.text-preview {

    font-weight: 400;
    font-size: 16px;
    color: #9EABB2;
    line-height: 1.5;
    margin-top: 16px;
    text-align: center;

    width: 311px;
    height: 130px;

}

/* fourth container */

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.partners {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 59px;
}


/* fifth container */

.container-5 {

    margin-top: 170px;
}

.title-c6 {
    font-weight: 600;
    font-size: 28px;
    color: #4C545C;
    text-align: center;

    width: 311px;
    height: 80px;

}

.text-c6 {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #9EABB2;
    margin-top: 16px;
    text-align: center;

    width: 311px;
    height: 78px;


    
}

.button-main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    gap: 20px;


}

.button-1 {


    font-size: 18px;
    font-weight: 600;
    color: white;
    background: #26BBA4;
    border: 1px solid #11a58f;
    border-radius: 28px;
    box-shadow: 0px 10px 20px #89e5c649;
    font-family: 'Bai Jamjuree', sans-serif;
    cursor: pointer;

    
    padding: 13px 50px;

}

.button-2 {

    font-size: 18px;
    font-weight: 600;
    color: white;
    background: #6174FF;
    border: 1px solid #4659eb;
    border-radius: 28px;
    box-shadow: 0px 10px 20px #6536bb3d;
    font-family: 'Bai Jamjuree', sans-serif;
    cursor: pointer;

    
    padding: 13px 50px;
}

/* footer */

footer {

    background-color: #F2F2F2;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 500px;

}

.logo-footer {

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img {

    width: 55px;
    height: 55px;
    align-self: center;
    
}

.menu li a {

    text-decoration: none;
    color: #4C545C;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.menu {

    margin-top: 40px;
    margin-bottom: 48px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.social-links {

    display: flex;
    gap: 15px;
   

}

.social-links img {

    width: 24px;
    height: 24px;

    justify-content: center;
    align-items: center;

}